.app-header {
    background-color: #9fc4f8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1rem 2rem;
}

.header-title {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    text-align: start;
}